h1{
   font-weight: 700; 
   text-align: center; 
   color:black;
   padding: 50px;
}

.circle{
  margin-top:-30px;
   margin-left:100px;
   background: blue;
   border-radius: 48%;
   height: 75px;
   width: 75px;
   

}